name: gitops-ci
on:
  pull_request:
    paths:
      - "clusters/**"
      - "apps/**"
      - ".github/workflows/gitops-ci.yml"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install kustomize
        run: |
          curl -s "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh" | bash
          sudo mv kustomize /usr/local/bin/kustomize
      - name: kustomize build (cluster)
        run: kustomize build clusters/ct-gitops-dev
      - name: kustomize build (demo overlay)
        run: kustomize build apps/demo/overlays/dev